# Data Wrangling

Como mi dataset para el proyecto final es generado por una herramienta ya que son datos de transacciones de tarjetas de créditos. El mismo un dataset limpio, sin valores duplicados ni inválidos, ordenas y listos para usar; como se comprobará más adelante.

Mis otros datasets (no elegidos para el proyecto final) también son de esta manera ya que son datos financieros extraídos de paginas de finanzas listas para su análisis.

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
#Cargar el Dataset
from google.colab import drive
import os
drive.mount('/content/gdrive/')

Mounted at /content/gdrive/

In [ ]:
#Leer el Dataset
%cd '/content/gdrive/MyDrive/CoderHouse/Data_Science'
creditcard1 = pd.read_csv('fraud.csv')

/content/gdrive/MyDrive/CoderHouse/Data_Science

In [ ]:
#Mostrar el Dataset
creditcard1

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,1/1/2019 0:00,2.703190e+15,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,...,36.0788,-81.1781,3495,"Psychologist, counselling",3/9/1988,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0
1,1,1/1/2019 0:00,6.304230e+11,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,...,48.8878,-118.2105,149,Special educational needs teacher,6/21/1978,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
2,2,1/1/2019 0:00,3.885950e+13,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,...,42.1808,-112.2620,4154,Nature conservation officer,1/19/1962,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0
3,3,1/1/2019 0:01,3.534090e+15,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,...,46.2306,-112.1138,1939,Patent attorney,1/12/1967,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0
4,4,1/1/2019 0:03,3.755340e+14,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,...,38.4207,-79.4629,99,Dance movement psychotherapist,3/28/1986,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199996,199996,3/1/2020 0:02,3.585740e+15,fraud_Kuvalis Ltd,gas_transport,45.60,James,Greene,M,082 Hernandez Bypass Apt. 886,...,34.2956,-99.7494,3202,"Librarian, public",3/18/1998,9726c00bd873467853c3af1b2f0abe8d,1362096171,33.913777,-100.466829,0
199997,199997,3/1/2020 0:06,3.512370e+15,fraud_Bartoletti-Wunsch,gas_transport,57.23,Francisco,Kemp,M,9554 Flores Drive,...,38.4305,-90.3870,35439,Land/geomatics surveyor,3/31/1985,b0762189a450a720f4ee4547fcf6fc7f,1362096363,37.860662,-90.534356,0
199998,199998,3/1/2020 0:07,4.229730e+15,fraud_Welch Inc,misc_net,7.90,Tyler,Mills,M,7838 Jason Squares,...,37.6848,-85.8784,48194,Surgeon,5/3/1990,74fc56abcfe99529b5ebf42a9eb380d5,1362096427,38.119560,-86.804391,0
199999,199999,3/1/2020 0:07,4.390970e+18,fraud_Dooley-Thompson,misc_net,4.52,Kyle,Simmons,M,8149 Harris Divide,...,35.6174,-97.5583,640470,Advertising copywriter,6/24/1966,9ca17325b650b1a6e6acae3fed656d51,1362096456,35.835027,-98.513300,0
200000,200000,3/1/2020 0:08,4.158010e+12,fraud_Huels-Hahn,gas_transport,81.83,Alicia,Miller,F,976 Hubbard Lodge,...,44.5274,-93.0196,1201,Barrister,12/27/1979,16fe5c365cecca59e56fd0dbc6378ffc,1362096485,43.596028,-92.859105,0

In [ ]:
#Leer el Dataset
%cd '/content/gdrive/MyDrive/CoderHouse/Data_Science'
creditcard2 = pd.read_csv('fraudTest.csv')

/content/gdrive/MyDrive/CoderHouse/Data_Science

In [ ]:
#Mostrar el Dataset
creditcard2

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,6/21/2020 12:14,2.291160e+15,fraud_Kirlin and Sons,personal_care,2.86,Jeff,Elliott,M,351 Darlene Green,...,33.9659,-80.9355,333497,Mechanical engineer,3/19/1968,2da90c7d74bd46a0caf3777415b3ebd3,1371816865,33.986391,-81.200714,0
1,1,6/21/2020 12:14,3.573030e+15,fraud_Sporer-Keebler,personal_care,29.84,Joanne,Williams,F,3638 Marsh Union,...,40.3207,-110.4360,302,"Sales professional, IT",1/17/1990,324cc204407e99f51b0d6ca0055005e7,1371816873,39.450498,-109.960431,0
2,2,6/21/2020 12:14,3.598220e+15,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,41.28,Ashley,Lopez,F,9333 Valentine Point,...,40.6729,-73.5365,34496,"Librarian, public",10/21/1970,c81755dbbbea9d5c77f094348a7579be,1371816893,40.495810,-74.196111,0
3,3,6/21/2020 12:15,3.591920e+15,fraud_Haley Group,misc_pos,60.05,Brian,Williams,M,32941 Krystal Mill Apt. 552,...,28.5697,-80.8191,54767,Set designer,7/25/1987,2159175b9efe66dc301f149d3d5abf8c,1371816915,28.812398,-80.883061,0
4,4,6/21/2020 12:15,3.526830e+15,fraud_Johnston-Casper,travel,3.19,Nathan,Massey,M,5783 Evan Roads Apt. 465,...,44.2529,-85.0170,1126,Furniture designer,7/6/1955,57ff021bd3f328f8738bb535c302a31b,1371816917,44.959148,-85.884734,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99996,99996,7/26/2020 12:57,4.482430e+15,fraud_Nienow PLC,entertainment,24.11,Leslie,Ford,F,4938 Hatfield Course,...,38.8265,-82.1364,642,Building services engineer,8/30/1946,5a4ec3ca3dd6c1d6c5d1882904d4688c,1374843465,38.360258,-81.656605,0
99997,99997,7/26/2020 12:57,5.580560e+15,"fraud_Romaguera, Wehner and Tromp",kids_pets,53.05,Stanley,Dickson,M,078 Alex Fields,...,39.9961,-79.7678,1946,Charity fundraiser,6/21/1990,51e122398ac61aeacde592249ad0a45d,1374843479,39.024515,-80.428413,0
99998,99998,7/26/2020 12:58,4.294040e+15,fraud_Beier and Sons,home,26.93,Gail,Weaver,F,979 Stewart Lake,...,33.4130,-81.6900,2206,Biomedical scientist,12/31/1986,87be5ba3d74ce9267731f7ab4d035aa9,1374843481,34.172849,-82.476306,0
99999,99999,7/26/2020 12:58,3.577580e+15,fraud_Wuckert-Goldner,home,36.46,Debbie,Hughes,F,0182 Owens Burgs Suite 480,...,41.0935,-81.0425,2644,"Engineer, biomedical",8/25/1983,ad1e02803cfc9f2da3a078c1cbff1a53,1374843514,41.252843,-80.234852,0
100000,100000,7/26/2020 12:59,6.511350e+15,fraud_Weimann-Lockman,kids_pets,7.68,Robert,Nguyen,M,74835 Garner Point,...,39.3426,-114.8859,450,Interpreter,8/24/1946,db8e66c77567cb85db710f9672e59beb,1374843544,40.090995,-114.454319,0

In [ ]:
creditcard = pd.concat([creditcard1, creditcard2], axis=0)

A modo solo de ejercicio para concatenar, uní los datasets de test y training. Luego comprobé que no tuvieran valores no validos ni repetidos.

Con axix=0 indicamos que queremos unirlo por columnas los datasets

In [ ]:
creditcard.describe()

,Unnamed: 0,cc_num,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud
count,300002.000000,3.000020e+05,300002.000000,300002.000000,300002.000000,300002.000000,3.000020e+05,3.000020e+05,300002.000000,300002.000000,300002.000000
mean,83333.277778,4.175180e+17,70.510618,48803.641312,38.539231,-90.208155,8.882757e+04,1.353583e+09,38.539499,-90.209384,0.006903
std,55277.406476,1.308891e+18,147.230971,26858.483643,5.076702,13.724701,3.017880e+05,1.904215e+07,5.110608,13.738362,0.082799
min,0.000000,6.041621e+10,1.000000,1257.000000,20.027100,-165.672300,2.300000e+01,1.325376e+09,19.029798,-166.670132,0.000000
25%,37500.000000,1.800360e+14,9.690000,26237.000000,34.620500,-96.790900,7.410000e+02,1.329150e+09,34.737501,-96.875870,0.000000
50%,75000.000000,3.519610e+15,47.740000,48174.000000,39.354300,-87.476900,2.408000e+03,1.359547e+09,39.366941,-87.445796,0.000000
75%,124999.750000,4.642260e+15,83.390000,72011.000000,41.940400,-80.158000,2.032800e+04,1.372530e+09,41.961053,-80.241932,0.000000
max,200000.000000,4.992350e+18,13149.150000,99783.000000,65.689900,-67.950300,2.906700e+06,1.374844e+09,66.669356,-66.950902,1.000000

In [ ]:
creditcard.isna().sum()

Unnamed: 0               0
trans_date_trans_time    0
cc_num                   0
merchant                 0
category                 0
amt                      0
first                    0
last                     0
gender                   0
street                   0
city                     0
state                    0
zip                      0
lat                      0
long                     0
city_pop                 0
job                      0
dob                      0
trans_num                0
unix_time                0
merch_lat                0
merch_long               0
is_fraud                 0
dtype: int64

In [ ]:
creditcard.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
99996     False
99997     False
99998     False
99999     False
100000    False
Length: 300002, dtype: bool

In [ ]:
creditcard.drop_duplicates(inplace=True)

In [ ]:
creditcard.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 300002 entries, 0 to 100000
Data columns (total 23 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0             300002 non-null  int64
 1   trans_date_trans_time  300002 non-null  object
 2   cc_num                 300002 non-null  float64
 3   merchant               300002 non-null  object
 4   category               300002 non-null  object
 5   amt                    300002 non-null  float64
 6   first                  300002 non-null  object
 7   last                   300002 non-null  object
 8   gender                 300002 non-null  object
 9   street                 300002 non-null  object
 10  city                   300002 non-null  object
 11  state                  300002 non-null  object
 12  zip                    300002 non-null  int64
 13  lat                    300002 non-null  float64
 14  long                   300002 non-null  float64
 15  city_pop               300002 non-null  int64
 16  job                    300002 non-null  object
 17  dob                    300002 non-null  object
 18  trans_num              300002 non-null  object
 19  unix_time              300002 non-null  int64
 20  merch_lat              300002 non-null  float64
 21  merch_long             300002 non-null  float64
 22  is_fraud               300002 non-null  int64
dtypes: float64(6), int64(5), object(12)
memory usage: 54.9+ MB

No faltan datos en el conjunto y también se eliminaron cualquier observación duplicada.